#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* fonts */

.unbounded {
  font-family: 'Unbounded Variable', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

/* end fonts */

/* custom styles */

.gradient-stroke {
  background: -webkit-linear-gradient(-86deg, #36fcff 5%, #00b7ff 53%, #aa3bff 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #151a1a;
}

/* end custom styles */