# Dependency directories
node_modules/
client/node_modules
client/vite-project/node_modules
server/node_modules


# System files
.DS_Store

# Environment variables
.env

# Build output
build
dist

#Test output
coverage/
reports/
