

hello {
    control: (provided, state) => ({
    ...provided,
    borderRadius: '4px',
    backgroundColor: 'rgba(25, 35, 65, 0.5)',
    backdropFilter: 'blur(8px)',
    borderColor: 'rgba(25, 35, 65, 0.3)',
    }),
    option: (provided, state) => ({
    ...provided,
    color: 'white',
    backgroundColor: 'rgba(25, 35, 65, 0.3)',
    borderColor: 'rgba(33, 33, 33, 0.3)',
    cursor: 'pointer',
    '&:active': {
        backgroundColor: '#5c64d3',
    },
    }),
    singleValue: (provided) => ({
    ...provided,
    color: 'white',
    }),
    input: (provided) => ({
    ...provided,
    color: 'white',
    }),
    menu: (provided) => ({
    ...provided,
    backgroundColor: 'rgba(25, 35, 65, 0.3)',
    backdropFilter: 'blur(8px)',
    }),
    menuList: (provided) => ({
    ...provided,
    backgroundColor: 'rgba(25, 35, 65, 0.3)',
    backdropFilter: 'blur(8px)',
    }),
    indicatorSeparator: () => ({
    display: 'none',
    }),
}